<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	{% block meta %}
	<meta name="author" content="Jacob Hooey">
	<meta name="description" content="">
	{% endblock %}
	<!-- Always force latest IE rendering engine (even in intranet) & 
		Chrome Frame Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	
	<!-- Replace favicon.ico & apple-touch-icon.png in the root of your 
		domain and delete these references -->
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="{{STATIC_URL}}style.css">
</head>

<body>
	<header class="page-header">
		<h1>Blog</h1>
		<nav>
			<p><a href="/">Home</a></p>
			<p><a href="/contact">Contact</a></p>
		</nav>
	</header>
	<div class="content">
		{% block content %}
		{% endblock %}
	</div>
	{% block siderbar %}
	<aside class="sidebar">
		<h2>Sidebar</h2>
		<p>Donec eu libero sit amet quam egestas semper.</p>
	</aside>
	{% endblock %}
	<footer class="page-footer">
		<p>
			&copy; Copyright  by Jacob Hooey
		</p>
	</footer>
</body>
</html>
