body{
	background-color: #fdfdfd;
	color: #2e2e2e;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 28px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.wrap {
    width: 975px;
    margin: 0 auto;
    padding:0;
}
header {
    width:100%;
}
nav {
    width:100%;
}
nav a {
    width: 25%;
    text-align:center;
    display:inline-block;
}
div.content{
	width: 70%;
	padding: 0;
	margin: 0;
	float: left;
}
aside {
    width: 30%;
    margin: 0;
    padding: 0;
    float:left;
}
footer {
    clear: both;
    width: 100%;
}
