body{
	background-color: #fdfdfd;
	color: #2e2e2e;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 28px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.wrap {
    width: 975px;
    margin: 0 auto;
    padding:0;
}
header h1 {
    background-color: blue;
    width:100%;
}
div.content{
	background-color: #fff;
	width: 70%;
	padding: 0;
	margin: 0;
	float: left;
	background-color: green;
}
aside {
    width: 30%;
    margin: 0;
    padding: 0;
    float:left;
    background-color: purple;
}
footer {
    clear: both;
    width: 100%;
}
